@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-obsidian-0 text-obsidian-textPrimary antialiased selection:bg-obsidian-accent selection:text-obsidian-0;
  }
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply antialiased text-obsidian-textPrimary bg-obsidian-0;
  }
}